<?xml version='1.0' encoding='utf-8'?>
<widget id="lhidalgo42.nicolas.triantafilo" version="1.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Medicina Hospitalaria</name>
    <description>
        Guía para el residente de turno.
    </description>
    <author email="lhidalgosep@gmail.com" href="http://invoicechile.cl/lhidalgo">
        Leonardo Hidalgo
    </author>
    <content src="index.html" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="16" />
    <platform name="android">
        <icon density="xxxhdpi" src="www/img/icon.jpg" />
    </platform>
    <platform name="ios">
        <icon height="114" platform="ios" src="www/img/icon.jpg" width="114" />
    </platform>
    <platform name="wp8">
        <icon height="159" platform="wp8" src="www/img/icon.jpg" width="159" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/img/icon.jpg" width="150" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="*" />
    <plugin name="cordova-plugin-media" spec="^3.0.1" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.1.4">
        <variable name="ANDROID_SUPPORT_VERSION" value="26.+" />
    </plugin>
    <plugin name="cordova-android-play-services-gradle-release" spec="1.1.3" />
</widget>
