body {
    margin: 0;
}
.content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

a, button {
    position: absolute;
    /*
    opacity: 0.5;
    background-color: black;
    */
}
.home img{ -webkit-transform:translate3d(0,0,0) }

select {
    font-size: 25px;
}

#content {
    -vendor-animation-duration: 0.05s;
    -vendor-animation-delay: 0.05s;
    -vendor-animation-iteration-count: infinite;
}